.toast {
  position: fixed;
  bottom: 0;
  left: 16px;
  right: 16px;
  display: flex;
  background: #1e1412;
  color: #fafafa;
  font-size: 16px;
  line-height: 24px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 16px;
  margin: auto;
  transition: 250ms;
}

.toast.active {
  transform: translateY(0);
}

.toast.inactive {
  transform: translateY(100%);
}

.toast-text {
  flex: 1;
}

.toast-button {
  color: #fafafa;
}
